<div class="jumbotron">
	<font color = #2980b9>
<h1>About Us</h1>  </font>
<p>We are working on our AppOne app!</p>
<p>Click here to go to <%= link_to "Google", "http://www.google.com", class: "btn btn-primary btn-sm"%>.</p>
